{% extends 'home.html' %}
{% block body %}
    

        <!-- Page Header-->
        <header class="masthead" style="background-image: url( {{ url_for('static' , filename='assets/img/home-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>The Vision</h1>
                            <span class="subheading">A Blog Theme by The Vision</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                   
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.tag_line}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">admin</a>
                            on {{post.date.strftime('%B %d , %y')}}
                        </p>
                    </div>
                    {{post.content[0:149]}}...
                    <hr>

                    {% endfor %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item">
                            <a class="page-link btn-primary" href="{{prev}}" tabindex="-1">
                                <button class="btn btn-primary"> &larr; Previous</button>
                            </a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="{{next}}">
                                <button class="btn btn-primary">Next &rarr;</button>
                            </a>
                          </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
 {% endblock body %}      